.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;


    background: #536976;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #536976, #292e49);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #536976, #292e49);
}

.title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.googleBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #4285F4;
    color: white;
    font-weight: 600;
    cursor: pointer;
}