.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bgGradient {
    width: 100%;
    height: 100vh;
    z-index: -111;
    position: fixed;
    top: 0;
    left: 0;

    background: #536976;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #536976, #292e49);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #536976, #292e49);
}

.cardFooter_likeSection {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.cardFooter_liked {
    color: red;
    fill: red;
}

.cardFooter_commentsSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.cardFooter_commentForm {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.cardFooter_commentInput {
    width: 50px;
}

.sendBtn {
    height: 1.5rem;
    width: 1.5rem;
}



.cardContainer_anim {
    width: 100%;
    max-width: 28rem;

    opacity: 0;
    view-timeline-name: --card;
    view-timeline-axis: block;

    animation-timeline: --card;
    animation-name: show;
    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;

}

/* Define la animación */
@keyframes show {
    from {
        opacity: 0;
        transform: scale(0.25);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.addPostbtn {
    background-color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 50px;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    color: #292e49;
}

.addPostbtn:hover {
    background-color: #f0f0f0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: rgb(72, 79, 100);
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    position: relative;
}

.closeBtn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    top: 10px;
    right: 10px;
    margin-bottom: 1rem;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.closebtnicon {
    color: rgb(211, 211, 211);
}

.addPostBtn {
    margin-top: 1rem;
    background-color: #292e49;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.modalForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.modalForm p {
margin-top: 1rem;

}